h1 {
    text-transform: uppercase;
    color: #0F0F0F;
    font-family: 'Montserrat', sans-serif;
}
.btn.btn-green {
        text-transform: uppercase;
        background: #48A39B;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
        border-radius: 3px;
        padding: 0.5rem 3rem;
        color: white;
        border: none;
        margin-top: 20px;
    }
.btn.btn-green:hover {
    color: white;
    background: #01B6AE;
}
.bg-hero {
    background: rgba(15, 15, 15, 0.03);
}
img.image-hero {
    mix-blend-mode: multiply;
    max-height: 550px;
}