.photo-grid {
    overflow: hidden;
    padding: 50px 0;
    text-align: center;
    padding: 50px 0 30px;
}
img.image-grid.img-fluid {
    height: 404px;
    width: 477px;
    object-fit: cover;
}
.center {
    align-items: center;
}
.row.g-3.align-items-center {
    justify-content: center;
}
.subscribe {
    margin-bottom: 4rem;
}
.form-email {
    text-align: center;
}

@media (max-width: 450px) {
    img.image-grid.img-fluid {
        height: 200px;
        width: 200px;
    }
}