
img.logo {
  max-width: 100%;
  width: auto;
  height: 30px;
  position: relative;
  display: block;
  top: 10px;
}
.cont-navbar {
  padding: 10px 0 30px;
}
@media (max-width: 991px) {
  img.logo {
      width: auto;
      max-width: 90px;
  }
  }